/*
	General Styles
	Dribbble API PHP Wrapper
	Use Examples
	Git: http://github.com/martinbean/dribbble-php
	
	This is strictly presentaional, and has no impact
	on the PHP wrapper itself. Rewrite & delete away!
*/

/*
	Dribbble Palette
	----------------
	Pink		#ea4c89
	Graphite	#434950
	Green		#8aba56		
*/

body{background:#efefef; margin:0; padding:0; -webkit-font-smoothing:antialiased;}
	
	img{border:none;}

	ul.shots, ul.comments{list-style:none; margin:0; padding:0;}
		
		ul.shots li, ul.comments li{float:left; display:inline; margin:0 15px 15px 0;}
			.shots img{background:#FFF; padding:20px; border:1px solid #DDD;}
	
	ul.shots li p{text-align:center;}
	
	ul.comments li {background:#fff; border-radius:3px; -webkit-border-radius:3px; border:1px solid #DDD; padding:0 12px;}
		span.author{text-transform:uppercase; color:#9b9b9b; font-size:11px; letter-spacing:1px;}
		
	.player-list li{font:14px/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif; color:#333;}
	
	.avatar{float:left; margin:30px 15px 0 0; padding:5px; background:#FFF; border:1px solid #DDD;}
	
/*
	Layout (Uses HTML5)
*/
	header{background:#8aba56; display:block; clear:both; padding:15px;}
	section{clear:both; display:block; padding:0 0 0 30px; overflow:hidden;}
	footer{clear:both; display:block; }
/*
	Typography
*/	
	a{color:#ea4c89}
	h1{font:28px/16px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:bold; color:#434950; margin-top:30px;}
		header h1{font-size:12px; color:#6c9c38; margin:0; font-weight:bold; letter-spacing:2px; text-transform:uppercase;}
		header h1 span{color:#FFF;}
	h2{font:21px/16px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:bold;}
	p{font:14px/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif; color:#333;}
		footer p{text-align:center; color:#9b9b9b; border-top:1px dashed #CCC; padding:15px 0 30px 0; margin-bottom:0;}