html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html,
body {
    height: 100%;
}
html {
    font-size: 100%;
    text-rendering: optimizeLegibility;
    background: url(../images/tile.gif) repeat 50% 0%;
}
body {
    color: #444;
    font: normal 62.5%/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url(../images/big-fade.png) repeat-x 50% 0;
    position: relative;
}

a {
    color: #4083a9;
    text-decoration: none;
}
a:hover {
    color: #205f82;
}

h1 {
    color: #444;
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0.75em;
}
h1 span {
    color: #ea4c89;
}

h2 {
    color: #333;
    font-size: 2.2em;
    font-weight: normal;
    margin-bottom: 0.68em;
    margin-top: 1em;
    border-bottom: 0.1em solid #ddd;
}

p {
    font-size: 1.4em;
}
p {
    margin-bottom: 0.75em;
}
li {
    color: #666;
    font-size: 1.3em;
    margin: 0 0 0.38em 3.07em;
    list-style: disc;
}
li li {
    font-size: 1em;
}
ul {
    margin-bottom: 1.5em;
}

code,
pre {
    color: #ea4c89;
    font-family: Monaco, monospace;
}
pre {
    background: #fff;
    font-size: 1.2em;
    margin-bottom: 1.67em;
    padding: 1.25em;
    border: 0.1em solid #ddd;
    overflow-x: auto;
}

header {
    background: #454b53;
    position: absolute;
    width: 100%;
    height: 0.5em;
    top: 0;
    left: 0;
}

footer {
    color: #999;
    background: #fff;
    border-top: 0.1em solid #ddd;
}
footer a {
    color: #777;
    font-weight: bold;
}
footer a:hover {
    color: #ea4c89;
}
footer p {
    font-size: 1.2em;
    margin-bottom: 0em;
}

.container {
    text-align: left;
    padding: 2em;
}

@media only screen and (min-width: 800px) {
    *[role=main] {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -5.9em;
    }
    .container {
        width: 78em;
        margin: 0 auto;
    }
    .push {
        height: 5.8em;
    }
}